bcrypt==4.2.1
click==8.1.8
dnspython==2.7.0
email_validator==2.2.0
Flask==2.0.1
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
Flask-Session==0.4.0
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
mysqlclient==2.0.3
mysql-connector-python==8.0.26
python-dateutil==2.9.0.post0
python-dotenv==0.19.0
requests==2.26.0
six==1.17.0
SQLAlchemy==1.4.23
typing_extensions==4.12.2
Werkzeug==2.0.1
WTForms==2.3.3
black==21.7b0
flake8==3.9.2
