.cart-icon-container {
    position: relative;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -17px;
    transition: all 0.3s ease;
    font-size: 12px;
    text-align: center;
}

.cart-count-hidden {
    opacity: 0;
    transform: scale(0);
    width: 0;
    height: 0;
}

.cart-count-active {
    opacity: 1;
    transform: scale(1);
    background-color: #e78f38;
    color: white;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    min-width: 20px;
    height: 20px;
}