<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodify</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- ================== Header ===================== -->
<div class="header">
    <img src="header_img.png" id="menu" alt="Menu">
    <img src="logo.png" class="logo" alt="Logo">
    <div class="nav">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="restaurants.html">Restaurants</a></li>
            <li><a href="locations.html">Locations</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="payment.html">Payment</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </div>
    <div class="search-cart">
        <input type="text" placeholder="Search...">
        <a href="payment.html" class="cart-icon">
            <img src="basket.png" alt="Cart">
            <span id="cart-count">0</span>
        </a>
    </div>
</div>
<!-- ================== End Header ===================== -->
<!-- =================================================== -->

    <script src="script.js"></script>
</body>

</html>
